.imageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.imgLoader {
  /* z-index: 4; */
  position:fixed;
  left: 50%;
  top: 35%;
}

.imgModal {
  height: 100%;
  margin: auto;
  display: block;
}

